.container {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-left: 56px;
  padding-bottom: 40px;

  @media (max-width: 768px) {
    margin: 0;
    margin-top: 37px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .packageInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;

    // Center info on mobile
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      width: 100%;
      margin: 0;
    }

    .packagePrivacy {
      user-select: none;
      font-size: 1.5rem;
      &.public {
        color: #00ff75;
      }

      &.private {
        color: #e95c5c;
      }
    }

    .packageName,
    .packageVersion {
      font-size: 1.5rem;
    }

    .packageVersion {
      color: #757575;
      margin-left: 5px;
    }

    .publishTime {
      color: #b5b5b5;
    }
  }

  .packageContent {
    display: flex;
    gap: 59px;
    margin-top: 21px;

    @media (max-width: 768px) {
      margin-top: 35px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0px;
    }

    .packageReadme {
      background-color: #1d1d1d;
      border-radius: 38px;

      height: fit-content;
      padding: 25px;
      width: 850px;

      overflow: hidden;

      @media (max-width: 768px) {
        max-width: 850px;
        width: 100%;
      }

      * {
        margin-top: 2px;
        margin-bottom: 2px;
      }

      // select all "code" without attributes
      code:not([class]) {
        background-color: #363636;
        color: #fff;
        padding: 3px;
        border-radius: 4px;
      }

      a, a code {
        color: #e95c5c;
        text-decoration: none;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 10px;
        margin-bottom: 5px;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #757575;
          margin-top: 5px;
          margin-bottom: 8px;
        }
      }

      ul {
        li {
          margin-top: 10px;
          margin-left: 20px;
        }
      }
    }
  }
}
